<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>BINK. Publishers</h3>
            <p>300 Terry Francine St.<br>
                San Francisco, CA 94158<br>
                123-456-7890<br>
                info@my-fancine.com</p>
        </div>

        <div class="footer-column">
            <h3>Shop</h3>
            <a href="#">FAO</a>

        </div>

        <div class="footer-column">
            <h3>Customer Service</h3>
            <a href="#">Shipping & Returns</a>
            <a href="#">Store Policy</a>
            <a href="#">Payment Methods</a>
        </div>

        <div class="footer-column">
            <h3>Social</h3>
            <div class="social-links">
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
                <a href="#">Pinterest</a>
            </div>
        </div>

        <div class="footer-column">
            <h3>Be the First to Know</h3>
            <p>Sign up for our newsletter</p>
            <form class="newsletter-form">
                <input type="email" placeholder="Enter your email here *" required>
                <div class="checkbox-container">
                    <input type="checkbox" id="newsletter">
                    <label for="newsletter">Yes, subscribe me to your newsletter.*</label>
                </div>
                <button type="submit" class="btn-def" id="btn-subscribe">Subscribe</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2005 by BINK. Publishers. Powered and secured by XGS.</p>
    </div>
</footer>