{% load static %}
<head xmlns="">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">

    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/modal.js' %}" defer></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=TT+Travels&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="site-container">
    {% include 'header.html' %}
     <div class="width-container">
        <img src="{% static 'images/main_banner.avif' %}" class="main-banner">
        <div class="banner-title">A SOFA, <br>A GOOD<br>BOOK,<br>AND YOU.</div>
    </div>
    <div class="width-container" id="slider1">
        <div class="bestsellers">BESTSELLERS</div>
        <div class="cont">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">I'm a product</div>
                            <div class="card-price">3000 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!--            <div class="swiper-pagination"></div>-->
            </div>
        </div>
    </div>
    <div class="width-container" id="slider2">
        <div class="line" style="margin-top: 200px;margin-bottom: 20px;"></div>
        <div class="month">This Month's</div>
        <div class="rec">RECOMMENDED BOOKS</div>
        <div class="line" style="margin-top: 20px;margin-bottom: 40px;"></div>
        <div class="cont">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">I'm a product</div>
                            <div class="card-price">3000 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-book">
                            <img src="{% static 'images/book.jpg' %}">
                            <div class="card-title">Book 2</div>
                            <div class="card-price">2500 ₽</div>
                            <button class="add-to-cart-btn">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!--            <div class="swiper-pagination"></div>-->
            </div>
        </div>
    </div>
    <div class="width-container" id="our-story">
        <div class="line" style="margin-top: 180px;"></div>
        <div class="our-story-title">THERE'S NO<br>SUCH THING AS TOO<br>MANY BOOKS</div>
        <div class="btn-def">Read Our Story</div>
        <div class="line" style="margin-top: 20px;"></div>
    </div>
    <div class="width-container" id="meetup">
        <div class="second-box">
            <div class="meetup-subtitle">Coming Up</div>
            <div class="meetup-title">BOOK LAUNCH</div>
            <div class="double-block">
                <div class="column-info">
                    <div class="box-info">
                        <div class="meetup-name">Introducing The Land of AILOO</div>
                        <div class="meetup-author">By Mark Walker</div>

                        <div class="info-date-title">Когда</div>
                        <div class="line meetup-line"></div>
                        <div class="info-date-content">12 июл. 2035 г., 19:00</div>

                        <div class="info-date-title">Где</div>
                        <div class="line meetup-line"></div>
                        <div class="info-date-content">500 Terry Francois Street, San Francisco, CA, USA</div>

                    </div>
                </div>
                <div class="column-cover">
                    <img src="{% static 'images/meetup.webp' %}">
                </div>
            </div>
        </div>
    </div>

</div>
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>BINK. Publishers</h3>
            <p>300 Terry Francine St.<br>
                San Francisco, CA 94158<br>
                123-456-7890<br>
                info@my-fancine.com</p>
        </div>

        <div class="footer-column">
            <h3>Shop</h3>
            <a href="#">FAO</a>

        </div>

        <div class="footer-column">
            <h3>Customer Service</h3>
            <a href="#">Shipping & Returns</a>
            <a href="#">Store Policy</a>
            <a href="#">Payment Methods</a>
        </div>

        <div class="footer-column">
            <h3>Social</h3>
            <div class="social-links">
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
                <a href="#">Pinterest</a>
            </div>
        </div>

        <div class="footer-column">
            <h3>Be the First to Know</h3>
            <p>Sign up for our newsletter</p>
            <form class="newsletter-form">
                <input type="email" placeholder="Enter your email here *" required>
                <div class="checkbox-container">
                    <input type="checkbox" id="newsletter">
                    <label for="newsletter">Yes, subscribe me to your newsletter.*</label>
                </div>
                <button type="submit" class="btn-def" id="btn-subscribe">Subscribe</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2005 by BINK. Publishers. Powered and secured by XGS.</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'js/swiper.js' %}"></script>
</body>